* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bar {
  height: 80px;
  background: rgba(217,213,255,1);
  position: relative;
}

.nav {
  list-style: none;
  text-align: left;
  position: relative;
  top: 22px; 
}

.nav li {
  display: inline;
  margin: 0 15px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: NanumSquareRound;
  font-weight: Regular;
  font-size: 18px;
  top: 10px;
}

.title {
  color: rgba(0,0,0,1);
  top: 70px;
  position: relative;
  text-align: center;
  font-family: 'SOYO Maple';
  font-weight: Bold;
  font-size: 45px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh; 

}

.shop {
  width: 242px;
  height: 246px;
  position: relative;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
  margin: 50px;
  top: 120px;
}

.shop1 {
  background: rgba(213,244,255,1);
}

.shop2 {
  background: rgba(255,233,242,1);
}

.plus {
  background: rgb(230, 230, 230);
}

.name {
  font-family: NanumSquareRound;
  font-weight: Regular;
  font-size: 35px;
  margin: 25px
}

.svg {
  margin: 10px;
  right: 0px;
  position: absolute;
}

.clothes {
  filter: invert(76%) sepia(32%) saturate(1710%) hue-rotate(175deg) brightness(113%) contrast(101%);
}

.drive {
  top: 40%;
  filter: invert(74%) sepia(99%) saturate(404%) hue-rotate(289deg) brightness(105%) contrast(100%);
}

.plus0 {
  margin: 25%;
}